@font-face {
  font-family: 'Special Elite';
  font-weight: 400;
  font-display: fallback;
  src: url('./fonts/SpecialElite-Regular.woff2') format('woff2');
  src: url('./fonts/SpecialElite-Regular.woff') format('woff');
}

:root {
  --font-family: 'Special Elite', cursive;
}
