body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
div {
  text-align: center;
  margin-bottom: 20px;
}
button {
  height: 100px;
  width: 100px;
}
img {
  /* display: block; */
  width: 250px;
  margin: auto;
}
